.oswald{
    font-family: "oswald" , sans-serif;

}

.link{
display: flex;
justify-content: space-between;

}

.header{
text-align: center;

}

.main{
padding: 20px;

}

.section{
margin-bottom: 20px;

}

.ul{
    list-style: none;
}

footer { background-color:rgb(222, 229, 221) ; text-align: center; padding: 10px;}

.redes-socuales a { margin: 0 10px;      }

body { font-family: arial, sans-serif; margin: 0; padding: 0;  }

h2 { font-size: 24px; font-weight:bold ; }

h3 { font-size: 20px; font-weight:bold ; }

p {font-size: 16px;}

#sobre-mi { background-color: rgb(221, 232, 220); padding: 20px;
}

#habilidades {background-color:rgb(222, 229, 221) ;}

#proyecto {background-color:rgb(222, 229, 221) ;}

ul li {margin-bottom: 5px;}


.foto {
width: 141px;

}







.proyecto-mario{
border-radius: 78%;

}












